.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-top: 25px;
}

.colorDisplay {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.exState {
  border: 1px solid black;
  padding: 0 10px 15px 10px;
  border-radius: 6px;
  margin-bottom: 25px;
}

button {
  margin: 0 3px;
  width: 75px;
}
