.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.colorDisplay {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
